.NavItem a {
  color: #ffffff;
  background-color: #202020;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0.3em 0.3em 0;
  padding: 0.35em 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.NavItem a:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

@media all and (max-width: 30em) {
  .NavItem {
    display: block;
    margin: 0.4em auto;
  }
}
