.Topbar {
  background-color: #222;
  box-shadow: 0 1px 2px 1px #666666;
  display: flex;
  justify-content: space-between;
}

.Topbar-title {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding: 0.35em 1.2em;
}

.Topbar-menu {
  display: flex;
  transition: all 0.2s;
}

@media all and (max-width: 30em) {
  .Topbar-menu {
    display: block;
    padding-right: 0.85em;
  }

  .Topbar-menu .NavItem a {
    width: 100%;
  }
}

@media all and (max-width: 22em) {
  .Topbar {
    display: block;
  }
}
